<h1>Sign Up Form</h1>
<br />
<%= form_for @user do |f| %>
 <h3><%= f.label 'Username:' %></h3>
 <%= f.text_field :username %>
 <br />
 <h3><%= f.label 'Email Address:' %></h3>
 <%= f.text_field :email_address %>
 <br />
 <h3><%= f.label 'Password:' %></h3>
 <%= f.password_field :password %>
 <br />
 <h3><%= f.label 'Password Confirmation:' %></h3>
 <%= f.password_field :password_confirmation %>
 <br /><br />
 <%= f.submit %>
<% end %>
