<h2>Profile for <%= @user.username %>:</h2>
<br />
<h3>Games Currently In Your Library:</h3>
<% if @libraries.empty? %>
  No games to show!
  <br />
<% else %>
  <% @libraries.map do |library| %>
    <li><%= link_to library.game.title, library %></li>
  <% end %>
<% end %>
<br />
<%= button_to 'Add Game to Your Collection', '/games', method: 'get' %>
<br />

<h3>Genres That You Seem to Like Playing:</h3>
<% if @user.genres.uniq.empty? %>
  No genres to show!
<% else %>
  <% @user.genres.uniq.map do |genre| %>
    <li><%= genre.name %></li>
  <% end %>
<% end %>
<br />

<h3>Consoles That You Have Played On:</h3>
<% if @user.platforms.uniq.empty? %>
  No platforms to show!
<% else %>
  <% @user.platforms.uniq.map do |platform| %>
    <li><%= platform.name %></li>
  <% end %>
<% end %>
<br />

<h3>Where You've Purchased Your Games At:</h3>
<% if @user.sources.uniq.empty? %>
  No sources to show!
<% else %>
  <% @user.sources.uniq.map do |source| %>
    <li><%= source.name %></li>
  <% end %>
<% end %>
<br /><br />
<% if session[:user_id] == @user.id%>
  <%= button_to 'Sign Out', '/signout', method: 'delete' %>
<% end %>
