<div class="main">

  <div class="center_no_bg">
  <h2>Profile for <%= @user.username %>:</h2>
  <br />

    <div class="user_games">
      <h3><u>Games Currently In Your Library:</u></h3>
      <table>
        <% if @libraries.empty? %>
        <tr>
          <td>No games to show!</td>
        </tr>
        <% else %>
          <tr>
            <td>Name</td>
            <td>Platform</td>
            <td>Source</td>
            <td>Status</td>
            <td>Personal Rating</td>
            <td>Hours Played</td>
          </tr>
          <% @libraries.map do |library| %>
          <tr>
            <td><h4><%= link_to library.game.name, game_path(library.game) %></h4></td>
            <td><h4><%= library.platform.name %></h4></td>
            <td><h4><%= library.source.name %></h4></td>
            <td><h4><%= library.status %></h4></td>
            <td><h4><%= library.personal_rating %></h4></td>
            <td><h4><%= library.hours_played.empty? ? '0' : library.hours_played %></h4></td>
            <td class="no_link"><h4><%= link_to '<i class="fa fa-pencil fa-lg" aria-hidden="true"></i>'.html_safe, edit_library_path(library), method: 'get' %></h4></td>
            <td class="no_link"><h4><%= link_to '<i class="fa fa-trash fa-lg" aria-hidden="true"></i>'.html_safe, library_path(library), method: 'delete' %></h4></td>
          </tr>
          <tr>
            <td colspan="8">
              <h5><u>Notes:</u> <%= library.notes.empty? ? 'No notes were made' : library.notes %></h5>
            </td>
          </tr>
          <% end %>
        <% end %>
      </table>
    </div>

    <div class="user_info">
      <h3><u>Genres You Like Playing:</u></h3>
      <table>
        <% if @user.genres.uniq.empty? %>
        <tr>
          <td>No genres to show!</td>
        </tr>
        <% else %>
          <% @user.genres.uniq.map do |genre| %>
          <tr>
            <td><h4><%= genre.name %></h4></td>
          </tr>
          <% end %>
        <% end %>
      </table>
    </div>

    <div class="user_info">
      <h3><u>Themes You Like Playing:</u></h3>
      <table>
        <% if @user.themes.uniq.empty? %>
        <tr>
          <td>No themes to show!</td>
        </tr>
        <% else %>
          <% @user.themes.uniq.map do |theme| %>
          <tr>
            <td><h4><%= theme.name %></h4></td>
          </tr>
          <% end %>
        <% end %>
      </table>
      <br />
    </div>

    <div class="user_info">
      <h3><u>Where You've Made Purchases:</u></h3>
      <table>
        <% if @user.sources.uniq.empty? %>
        <tr>
          <td>No sources to show!</td>
        </tr>
        <% else %>
          <% @user.sources.uniq.map do |source| %>
            <tr>
              <td><h4><%= source.name %></h4></td>
            </tr>
          <% end %>
        <% end %>
      </table>
    </div>

  </div>

</div>
