<div class="left">
  <h2>Profile for <%= @user.username %>:</h2>
  <br />

  <div class="user_info">
    <h3>Games Currently In Your Library:</h3>
    <ul>
      <% if @libraries.empty? %>
        <li>No games to show!</li>
        <br />
      <% else %>
        <% @libraries.map do |library| %>
          <li><%= link_to library.game.name, library %></li>
        <% end %>
      <% end %>
    </ul>
  </div>

  <div class="user_info">
    <h3>Genres That You Seem to Like Playing:</h3>
    <ul>
      <% if @user.genres.uniq.empty? %>
        <li>No genres to show!</li>
      <% else %>
        <% @user.genres.uniq.map do |genre| %>
          <li><%= genre.name %></li>
        <% end %>
      <% end %>
    </ul>
  </div>

  <div class="user_info">
    <h3>Modes That You Seem to Like Playing:</h3>
    <ul>
      <% if @user.modes.uniq.empty? %>
        <li>No modes to show!</li>
      <% else %>
        <% @user.modes.uniq.map do |mode| %>
          <li><%= mode.name %></li>
        <% end %>
      <% end %>
    </ul>
    <br />
  </div>

  <div class="user_info">
    <h3>Themes That You Seem to Like Playing:</h3>
    <ul>
      <% if @user.themes.uniq.empty? %>
        <li>No themes to show!</li>
      <% else %>
        <% @user.themes.uniq.map do |theme| %>
          <li><%= theme.name %></li>
        <% end %>
      <% end %>
    </ul>
    <br />
  </div>

  <div class="user_info">
    <h3>Platforms That You Have Played On:</h3>
    <ul>
      <% if @user.platforms.uniq.empty? %>
        No platforms to show!
      <% else %>
        <% @user.platforms.uniq.map do |platform| %>
          <li><%= platform.name %></li>
        <% end %>
      <% end %>
    </ul>
    <br />
  </div>

  <div class="user_info">
    <h3>Where You've Purchased Your Games At:</h3>
    <ul>
      <% if @user.sources.uniq.empty? %>
        No sources to show!
      <% else %>
        <% @user.sources.uniq.map do |source| %>
          <li><%= source.name %></li>
        <% end %>
      <% end %>
    </ul>
  </div>

</div>
