<div class="left">
  <h2>Edit Entry for <%= @library.game.title%>:</h2>
  <br />
  <%= form_for @library do |f| %>
    <h3><%= f.label 'Platform:' %></h3>
    <%= f.select :platform_id, options_for_select(@platforms.map {|platform| [platform.name, platform.id]}) %>
    <h3><%= f.label 'Source:' %></h3>
    <%= f.select :source_id, options_for_select(@sources.map {|source| [source.name, source.id]}) %>
    <h3><%= f.label 'Status:' %></h3>
    <%= f.text_field :status %>
    <h3><%= f.label 'Personal Rating:' %></h3>
    <h4>(1 through 10, 10 being the best game ever!)</h4>
    <%= f.select :personal_rating, options_for_select([1, 2, 3, 4, 5, 6, 7, 8, 9, 10]) %>
    <h3><%= f.label 'Hours Played:' %></h3>
    <%= f.text_field :hours_played %>
    <h3><%= f.label 'Notes:' %></h3>
    <%= f.text_field :notes %>
    <br /><br />
    <%= hidden_field_tag(:game_id, @library.game.id) %>
    <%= f.submit 'Update Entry' %>
  <% end %>

</div>
