<div class="left">
  <h2>Show Library Entry for <%= @library.game.title%>:</h2>
  <br />
  <h3>Platform: <%= @library.platform.name %></h3>
  <h3>Source: <%= @library.source.name %></h3>
  <h3>Status: <%= @library.status%></h3>
  <h3>Personal Rating: <%= @library.personal_rating %></h3>
  <h3>Hours Played: <%= @library.hours_played %></h3>
  <h3>Notes: <%= @library.notes %></h3>
  <br />
  <%= button_to 'Edit This Entry', edit_library_path, method: 'get' %>
  <%= button_to 'Delete This Entry', @library, method: 'delete' %>
  <br />
  <%= button_to 'Back to My Profile', @user, method: 'get' %>
</div>
