<h1>Edit <%= @game.title %></h1>
<%= form_for @game do |f| %>
  <%= f.label 'Title:' %>
  <%= f.text_field :title %>
  <br>
  <%= f.label 'Year:' %>
  <%= f.text_field :year %>
  <br /><br />
  <%= f.submit 'Update Game' %>
<% end %>
