<div class="main">

  <div class="center_big">
    <h2>Game Directory:</h2>
    <br />
    <%= form_tag(games_path, method: "get", id: "game_search") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search Games" %>
      <%= submit_tag("Search", class: "search_games") %>
    <% end %>
    <h5>*Game data has been provided by API from igdb.com</h5>
    <br /><br /><br />
    <ul>
      <div class="games">
        <% if @games.empty? %>
          <li><h3>No games found, please try again!</h3></li>
        <% else %>
          <% @games.map do |game| %>
            <li><h3><%= link_to game.name, game_path(game) %></h3></li>
          <% end %>
        <% end %>
      </div>

    </ul>
    <br /><br />
    <div class="add_game_button_position">
      <% if @current_user.admin? %>
        <%= button_to 'Add Game', new_game_path, method: 'get', class: 'add_game_button' %>
      <% end %>
    </div>

  </div>

</div>
