<h1>Add a New Game</h1>
<%= form_for @game do |f| %>
 <p>
 <h3><%= f.label :title %>:</h3>
 <%= f.text_field :title %>
 </p>
 <p>
 <h3><%= f.label :year %>:</h3>
 <%= f.text_field :year %>
 </p>
 <br />
 <%= f.submit %>
<% end %>
