<div class="left">
  <h2>Add a New Game:</h2>
  <br />

  <% if @game.errors.any? %>
    <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <%= form_for @game do |f| %>
    <h3><%= f.label 'Title:' %></h3>
    <%= f.text_field :title %>
    <br />
    <h3><%= f.label 'Year:' %></h3>
    <%= f.text_field :year %>
    <br /><br />
    <%= f.submit %>
  <% end %>

</div>
