<!DOCTYPE html>
<html>
  <head>
    <title>VGTracker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
      <div class="logo"><a href="/">VG Tracker</a></div>
      <div class="signout">
        <% if session[:user_id] && session[:user_id] == @current_user.id %>
          <%= link_to 'Sign Out', '/signout', method: 'delete' %>
        <% end %>
      </div >
    </div>

    <%= yield %>
  </body>
</html>
